<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>energybuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>873CAA2A20D36607007912EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>873CAA3E20D36609007912EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>873CAA4920D36609007912EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
